Repository isoftchamp/shared-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @shared-wallet/frontend lint --fix, yarn workspace @shared-wallet/frontend format, yarn workspace @shared-wallet/contracts lint --fix, yarn workspace @shared-wallet/contracts format

first commit for frontend
  packages/contracts/hardhat.config.js
  packages/contracts/package.json
  packages/contracts/scripts/deploy.js
  packages/frontend/.env.example
  packages/frontend/README.md
  packages/frontend/eslint.config.js
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/src/App.tsx
  packages/frontend/src/components/SharedWallet.tsx
  packages/frontend/src/contracts/config.ts
  packages/frontend/src/hooks/useContractTransactions.ts
  packages/frontend/src/hooks/useWallet.ts
  packages/frontend/src/index.css
  packages/frontend/src/main.tsx
  packages/frontend/src/types/contract.ts
  packages/frontend/src/types/global.d.ts
  packages/frontend/src/utils/format.ts
  packages/frontend/tailwind.config.js
  packages/frontend/tsconfig.app.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: yarn workspace @shared-wallet/frontend lint --fix, yarn workspace @shared-wallet/frontend format, yarn workspace @shared-wallet/contracts lint --fix, yarn workspace @shared-wallet/contracts format

fix some errors on frontend
  packages/frontend/README.md
  packages/frontend/src/components/SharedWallet.tsx
  packages/frontend/src/contracts/config.ts
  packages/frontend/src/hooks/useWallet.ts
  packages/frontend/src/types/contract.ts
Due: yarn workspace @shared-wallet/frontend lint --fix, yarn workspace @shared-wallet/frontend format

chore: refactoring
  packages/frontend/eslint.config.js
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/SharedWallet.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/contracts/config.ts
  packages/frontend/src/contracts/index.ts
  packages/frontend/src/hooks/index.ts
  packages/frontend/src/hooks/useContractTransactions.ts
  packages/frontend/src/hooks/useWallet.ts
  packages/frontend/src/interfaces/contract.ts
  packages/frontend/src/interfaces/index.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/utils/cn.ts
  packages/frontend/src/utils/index.ts
  packages/frontend/tsconfig.app.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: yarn workspace @shared-wallet/frontend lint --fix, yarn workspace @shared-wallet/frontend format

stylish app
  packages/frontend/src/components/SharedWallet.tsx
  packages/frontend/src/components/ui/Badge.tsx
  packages/frontend/src/components/ui/Button.tsx
  packages/frontend/src/components/ui/Card.tsx
  packages/frontend/src/components/ui/Input.tsx
  packages/frontend/src/components/ui/StatCard.tsx
  packages/frontend/src/components/ui/index.ts
  packages/frontend/src/index.css
  packages/frontend/tailwind.config.js
Due: yarn workspace @shared-wallet/frontend lint --fix, yarn workspace @shared-wallet/frontend format

embed contract abi
  packages/contracts/package.json
  packages/contracts/scripts/copy-artifacts.js
  packages/frontend/src/contracts/abi/SharedWallet.json
  packages/frontend/src/contracts/config.ts
  packages/frontend/src/hooks/useWallet.ts
Due: yarn workspace @shared-wallet/frontend lint --fix, yarn workspace @shared-wallet/frontend format, yarn workspace @shared-wallet/contracts lint --fix, yarn workspace @shared-wallet/contracts format

add SEO
  packages/frontend/index.html
  packages/frontend/public/favicon.svg
  packages/frontend/public/manifest.json
Due: none

add readme
  README.md
Due: none

Path conditions:
  yarn workspace @shared-wallet/frontend lint --fix: any of: packages/frontend/**/*.{js,jsx,ts,tsx}
  yarn workspace @shared-wallet/frontend format: any of: packages/frontend/**/*.{js,jsx,ts,tsx}
  yarn workspace @shared-wallet/contracts lint --fix: any of: packages/contracts/**/*.{js,ts}
  yarn workspace @shared-wallet/contracts format: (any of: packages/contracts/**/*.{js,ts}) or (any of: packages/contracts/**/*.sol)
